In [69]:
import random
from random import randrange

import pandas as pd

data = pd.read_csv("data/heart.csv")

In [70]:
i, j = data.shape

In [71]:
random.random()

0.5083355408128911

In [72]:
for k in range(i):
    for l in range(j):
        if random.random() <= 0.02:
            data.iloc[k, l] = None

In [73]:
data.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40.0,M,ATA,140.0,289.0,0.0,Normal,172.0,N,0.0,Up,0.0
1,49.0,F,NAP,160.0,180.0,0.0,Normal,156.0,N,1.0,Flat,1.0
2,37.0,M,ATA,130.0,283.0,0.0,ST,98.0,N,0.0,Up,0.0
3,48.0,F,ASY,138.0,214.0,0.0,Normal,108.0,Y,1.5,None,1.0
4,54.0,M,NAP,150.0,NaN,0.0,Normal,122.0,N,0.0,Up,0.0

In [74]:
data.to_csv("data/heart_unclean.csv", index=False)